<button class="btn btn-primary" onclick="create_task_modal.showModal()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
            clip-rule="evenodd" />
    </svg>
    Nueva tarea
</button>

<!-- Incluir el componente del modal -->
<app-create-task-modal (taskCreated)="loadTasks()"></app-create-task-modal>

<div>
    <h2>Atrasadas ({{ tasks().atrasadas.length }})</h2>
    <div *ngFor="let task of tasks().atrasadas">
        <h3>{{task.titulo}}</h3>
    </div>

    <h2>Hoy ({{ tasks().hoy.length }})</h2>
    <div *ngFor="let task of tasks().hoy">
        <h3>{{task.titulo}}</h3>
    </div>

    <h2>Próximas ({{ tasks().proximas.length }})</h2>
    <div *ngFor="let task of tasks().proximas">
        <h3>{{task.titulo}}</h3>
    </div>
</div>